{
  "production": {
    "loglevel": "{{ hedgedoc_loglevel }}",
    "imageUploadType": "{{ hedgedoc_upload_type }}",
    "db": {
      "username": "{{ hedgedoc_db_username }}",
      "password": "{{ hedgedoc_db_password }}",
      "database": "{{ hedgedoc_db_database }}",
      "host": "{{ hedgedoc_db_host }}",
      "port": "{{ hedgedoc_db_port }}",
      "dialect": "{{ hedgedoc_db_dialect }}",
      "storage": "{{ hedgedoc_db_storage }}"
    },
    "tmpPath": "/tmp/",
    "docsPath": "./public/docs",
    "viewPath": "./public/views",
    "uploadsPath": "./public/uploads",
    "domain": "{{ hedgedoc_domain }}",
    "port": "{{ hedgedoc_port }}",
    "protocolUseSSL": {{ hedgedoc_ssl_enable | bool | lower }},
    "urlAddPort": false,
    "allowOrigin": "{{ hedgedoc_allowed_origins }}",
    "hsts": {
      "enable": {{ hedgedoc_hsts_enable | bool | lower }},
      "maxAgeSeconds": 31536000,
      "includeSubDomains": true,
      "preload": true
    },
    "csp": {
      "enable": {{ hedgedoc_csp_enable | bool | lower }},
      "directives": {
        "scriptSrc": "{{ hedgedoc_domain }}",
        "styleSrc": "{{ hedgedoc_domain }}",
        "fontSrc": "{{ hedgedoc_domain }}"
      },
      "upgradeInsecureRequests": "auto",
      "addDefaults": true
    },
    "allowAnonymous": {{ hedgedoc_allow_anonymous | bool | lower }},
    "allowAnonymousEdits": {{ hedgedoc_allow_anonymous_edits | bool | lower }},
    "allowFreeURL": {{ hedgedoc_allow_free_url | bool | lower }},
    "defaultPermission": "editable",
    "sessionLife": 1209600000,
    "sessionSecret": "{{ hedgedoc_session_secret }}",
    "email": {{ hedgedoc_allow_email_login | bool | lower }},
    "allowEmailRegister": {{ hedgedoc_allow_email_register | bool | lower  }}{% if hedgedoc_additional_config is defined %},
    {{ hedgedoc_additional_config }}
{% endif %}
  }
}
