[Unit]
Description=hedgedoc
After=network.target

[Service]
Type=exec
RestartSec=2s
User={{ hedgedoc_user }}
Group={{ hedgedoc_group }}
WorkingDirectory={{ hedgedoc_base_path }}
ExecStart=/usr/bin/env npm start --production
Restart=always
PrivateTmp=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
